/*MEDIA QUERIES:MIN==================== */
@media (min-width: 391px) {
    .hidden-device-2xs {
        display: none !important;
    }
}

@media (min-width: 576px) {
    .hidden-device-xs {
        display: none !important;
    }

    /* PAGE:ABOUT US - HISTORY */
    /* ABOUT HISTORY HERO ==================== */
    #history-hero .marquee {
        padding-right: 35vw;
    }
}

@media (min-width: 768px) {
    .hidden-device-sm {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .hidden-device-md {
        display: none !important;
    }

    /* FOOTER ==================== */
    .footer-nav .links .accordion-container .footer-links a {
        opacity: 0.5;
    }

    .footer-nav .accordion > .entry-title {
        padding: 0;
    }

    .footer-nav .accordion > .entry-title:after {
        content: none;
    }

    /* PAGE:INDEX */
    /* INDEX HERO ==================== */
    #index-hero .main-text .title {
        animation-delay: 2.4s;
    }

    #index-hero .main-text .description {
        animation-delay: 2.8s;
    }

    /* PAGE:ABOUT US - HISTORY */
    /* ABOUT HISTORY SLIDES ==================== */
    #history-slides .content .wrapper.justify-between {
        justify-content: space-between;
    }

    #history-slides .content .wrapper.justify-between .body {
        flex-grow: unset;
    }
}

@media (min-width: 1280px) {
    .hidden-device-lg {
        display: none !important;
    }

    /* HEADER ==================== */
    .header-nav::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(var(--color-gold-rgb), 0.3);
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity var(--duration) var(--timing-function);
        z-index: 10;
    }

    .header-nav.submenu-open::before {
        opacity: 1;
    }

    .header-nav .menu > .has-submenu::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--color-gold);
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity var(--duration) var(--timing-function);
        z-index: 5;
    }

    .header-nav .has-submenu.active::before {
        opacity: 1;
    }

    .header-menu .menu .has-submenu.first-level {
        --font-height: calc(
            var(--font-size-button2) * var(--line-height-button2)
        );
        --submenu-padding-y: var(--spacing-md);
        --submenu-gap: var(--spacing-sm);
        --submenu-height: calc(
            (var(--max-submenu-length) * var(--font-height)) +
                (var(--submenu-padding-y) * 2) +
                (var(--submenu-gap) * (var(--max-submenu-length) - 1))
        );
    }

    .header-menu .menu > .has-submenu > .submenu,
    .header-menu .lang .submenu {
        display: flex;
        flex-direction: column;
        grid-gap: var(--spacing-sm);
        position: fixed;
        top: var(--header-height);
        left: 0;
        padding: var(--spacing-md) 0;
        padding-left: calc(var(--left-offset) + var(--spacing-2xs));
        background-color: var(--color-offwhite);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.02);
        width: 100vw;
        display: flex;
        grid-gap: var(--spacing-lg);
        height: var(--submenu-height);
    }
    .header-menu .lang .submenu {
        position: absolute;
        grid-gap: var(--spacing-xs);
        width: auto;
        padding: var(--spacing-2sm);
        top: 100%;
    }

    .header-menu .menu .has-submenu li,
    .header-menu .menu .has-submenu,
    .header-menu .lang {
        position: relative;
        width: fit-content;
    }

    .header-menu .menu .submenu.open {
        display: flex;
        flex-direction: column;
        grid-gap: var(--spacing-sm);
    }

    /* .header-menu .menu .submenu .submenu {
        display: none;
    } */

    .header-menu .menu .submenu .submenu {
        display: flex;
        flex-direction: column;
        grid-gap: var(--spacing-sm);
        position: absolute;
        top: 0;
        left: calc(100% + var(--spacing-xl));
    }

    .header-menu .menu .submenu .submenu li {
        width: fit-content !important;
        white-space: nowrap;
    }

    .header-menu .submenu:has(.submenu.open) > li:not(.has-submenu) {
        opacity: 0.5;
    }

    .header-menu .panel > .wrapper {
        display: flex;
        align-items: center;
        grid-gap: var(--spacing-2xs);
    }

    .header-menu .lang .selected {
        padding-left: var(--spacing-2sm);
        border-left: 1px solid var(--color-gold);
    }

    .header-menu .lang .submenu {
        width: calc(100vw - var(--left-offset));
    }
}

@media (min-width: 1440px) {
    :root {
        --font-size-h1: 7.2rem;
        --font-size-h2: 6rem;
        --font-size-h3: 4.8rem;
        --font-size-h4: 2.4rem;
        --font-size-h5: 1.8rem;
        --font-size-body-big: 1.5rem;
        --font-size-body: 1.4rem;
        --font-size-button: 4.2rem;

        --line-height-h1: 1;
        --line-height-h2: 1;
        --line-height-h3: 1.04166666667;
        --line-height-h4: 1.08333333333;
        --line-height-h5: 1.11111111111;
        --line-height-body-big: 1.3333333333;
        --line-height-body: 1.4285714286;
        --line-height-button: 0.9523809524;
    }

    .hidden-device-xl {
        display: none !important;
    }
}

/*MEDIA QUERIES:MAX==================== */
@media (max-width: 1439px) {
}

@media (max-width: 1279px) {
    .show-lg {
        display: none !important;
    }

    :root {
        --header-height: 6.8rem;
        --logo-height: 5.2rem;
    }

    .show-xl {
        display: none !important;
    }

    /* HEADER ==================== */
    .header-nav {
        padding: var(--spacing-4xs) var(--page-padding);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.02);
    }

    .header-nav .header-logo {
        padding: 0;
    }

    .header-nav .wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        grid-gap: var(--spacing-2sm);
    }

    .panel {
        position: fixed;
        top: var(--header-height);
        left: 0;
        width: 100vw;
        height: calc(100dvh - var(--header-height));
        max-height: 100dvh;
        overflow: hidden;
        background-color: var(--color-offwhite);
        z-index: 95;
        transform: translateX(100%);
        transition: transform var(--duration-x2) cubic-bezier(0.83, 0, 0.17, 1);
    }

    .panel-overlay {
        position: fixed;
        top: var(--header-height);
        left: 0;
        z-index: 90;
        width: 100vw;
        height: calc(100dvh - var(--header-height));
        background-color: rgba(var(--color-black-rgb), 0.75);
        opacity: 0;
        transition: opacity var(--duration) var(--timing-function);
        pointer-events: none;
    }

    html.header-menu-enabled .panel {
        transform: translateX(0);
    }

    html.header-menu-enabled .panel-overlay {
        opacity: 1;
    }

    .panel-scroll {
        height: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -ms-scroll-chaining: none;
        overscroll-behavior: contain;
        -webkit-mask-box-image: -webkit-linear-gradient(
            -90deg,
            transparent 0%,
            white var(--spacing-2md),
            white calc(100% - var(--spacing-2md) - var(--spacing-5xl)),
            transparent 100%
        );
    }

    .panel-container {
        padding: var(--spacing-lg) var(--page-padding);
        position: relative;
        width: 100%;
        height: 100%;
    }

    .panel-body {
        position: relative;
    }

    .header-nav .menu {
        flex-direction: column;
        align-items: flex-start;
        grid-gap: var(--spacing-md);
        padding-bottom: var(--spacing-5xl);
    }

    .header-nav .menu li {
        width: 100%;
        padding: 0;
    }

    .header-nav .menu li > p {
        justify-content: space-between;
        width: 100%;
    }

    .header-menu .menu .submenu {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--color-offwhite);
        z-index: 10;
        opacity: 0;
        pointer-events: none;
        transition: opacity var(--duration) var(--timing-function);
        z-index: 10;
        display: flex;
        flex-direction: column;
        grid-gap: var(--spacing-md);
    }

    .lang .submenu {
        position: absolute;
        bottom: calc(100% + var(--spacing-2xs));
        left: 0;
        padding: var(--spacing-2xs);
        opacity: 0;
        pointer-events: none;
        transition: opacity var(--duration) var(--timing-function);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.02);
        display: flex;
        flex-direction: column;
        grid-gap: var(--spacing-3xs);
    }

    .header-menu .menu .submenu.open,
    .lang .submenu.open {
        opacity: 1;
        pointer-events: auto;
    }

    .lang:has(.submenu.open) .selected .ic {
        transform: rotate(180deg);
    }

    .header-menu .menu .submenu.last-level {
        display: none;
        position: static;
        height: auto;
        grid-gap: 0;
    }

    .header-menu .menu .submenu.last-level > li {
        margin-top: var(--spacing-3xs);
        opacity: 0.5;
    }

    .header-menu .menu .submenu-mb-back {
        padding-bottom: var(--spacing-md);
        border-bottom: 1px solid var(--color-gold);
        flex-wrap: wrap;
    }

    .header-menu .menu .submenu-mb-back,
    .header-menu .menu .submenu-mb-back span {
        display: flex;
        align-items: center;
        grid-gap: var(--spacing-4xs);
        font-size: var(--font-size-body-big);
        line-height: var(--line-height-body-big);
        justify-content: start !important;
    }

    .header-nav .header-menu .menu > li > a,
    .header-nav .header-menu .lang {
        height: auto;
        padding: 0;
    }

    .header-nav .header-menu .menu li > a {
        justify-content: space-between;
    }

    .header-nav .header-menu .menu li > a:has(+ .submenu.open) .ic {
        transform: rotate(90deg);
    }

    .header-nav .panel-footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: var(--spacing-sm) var(--page-padding);
    }

    .header-menu .panel-decoration {
        width: 10rem;
        aspect-ratio: 1;
    }
}

@media (max-width: 991px) {
    :root {
        --gap-section: var(--spacing-2xl);
        --page-padding: var(--spacing-xs);
        --button-height: 3.3;
    }

    .show-md {
        display: none !important;
    }

    /* FOOTER ==================== */
    .footer-nav .contact-and-links {
        flex-direction: column;
        grid-gap: var(--spacing-2md);
    }

    .footer-nav .contact-and-links .links .accordion-container {
        flex-direction: column;
        grid-gap: 0;
    }

    .footer-nav .links .accordion-container .accordion {
        --title-color: var(--color-white);
        --title-color-active: var(--color-white);
        --border-color: rgba(var(--color-white-rgb), 0.5);
    }

    .footer-nav .links .accordion-container .footer-links {
        margin-top: 0;
    }

    .footer-nav .staff-small {
        margin-top: var(--spacing-3lg);
    }

    .footer-nav .privacy-and-copyright {
        flex-direction: column;
        margin-top: var(--spacing-2md);
        grid-gap: var(--spacing-md);
    }

    /* PAGE:INDEX */
    /* INDEX HERO ==================== */
    #index-hero .main-text {
        width: 100%;
    }

    #index-hero .main-text .description {
        text-wrap: balance;
    }

    /* Marquee */
    #index-hero .upcoming-event {
        height: auto;
    }

    #index-hero .staff {
        top: 4rem;
        transform: unset;
    }

    #index-hero .marquee-wrapper .marquee-item {
        min-height: 22.5rem !important;
        height: auto;
    }

    #index-hero .marquee-wrapper .marquee-item:last-child {
        min-height: unset !important;
    }

    #index-hero .marquee-wrapper .marquee-item:last-child .image {
        top: 5% !important;
    }

    #index-hero .marquee .marquee-item {
        grid-gap: var(--spacing-6xl);
        padding-right: var(--spacing-6xl);
    }

    #index-hero .marquee .marquee-item .image {
        width: 16.8rem;
        display: flex;
        flex-direction: column;
        grid-gap: var(--spacing-2xs);
        margin-top: unset !important;
        top: 0% !important;
    }

    #index-hero .marquee .marquee-item .image img {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
    }

    /* N + 1 Child */
    #index-hero
        .marquee
        .marquee-item:nth-child(4n + 1)
        .decoration
        .illustration {
        top: 70px;
    }

    /* N + 2 Child */
    #index-hero
        .marquee
        .marquee-item:nth-child(4n + 2)
        .decoration
        .illustration {
        top: 21px;
    }

    /* N + 3 Child */
    #index-hero
        .marquee
        .marquee-item:nth-child(4n + 3)
        .decoration
        .illustration {
        top: 70px;
    }

    /* N + 4 Child */
    #index-hero
        .marquee
        .marquee-item:nth-child(4n + 4)
        .decoration
        .illustration {
        top: 14px;
    }

    /* INDEX LATEST NEWS ==================== */
    #index-latest-news {
        grid-gap: var(--spacing-lg);
    }

    /* PAGE:ABOUT US - HISTORY */
    /* ABOUT HISTORY SLIDES ==================== */
    #history-slides {
        height: auto;
    }

    #history-slides *:is(.swiper, .swiper-wrapper, .swiper-slide) {
        height: auto;
    }

    #history-slides .swiper-slide .wrapper {
        display: flex;
        flex-direction: column;
        max-height: unset;
    }

    #history-slides .content .header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        grid-gap: var(--spacing-xs);
    }

    #history-slides .content .header .year {
        margin-top: var(--spacing-3xs);
    }

    #history-slides .swiper-navigation {
        position: static;
        height: fit-content;
        flex-shrink: 0;
    }

    #history-slides .content .swiper-navigation .nav-wrapper {
        padding: 0;
        flex-direction: row;
        grid-gap: var(--spacing-xs);
    }

    #history-slides *[class*="swiper-button-"]:after {
        font-size: var(--icon-size-xs);
    }

    #history-slides .swiper-slide .background-image {
        height: auto;
        aspect-ratio: 1.7727272727;
        position: relative;
    }

    #history-slides .swiper-slide .background-image:after {
        content: "";
        width: 100%;
        height: 32.8767123288%;
        position: absolute;
        top: unset;
        bottom: 0;
        left: 0;
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            var(--slide-color) 100%
        );
    }

    #history-slides .swiper-slide .content {
        flex-grow: 1;
        height: auto;
        width: 100%;
        position: static;
        background-color: var(--slide-color);
    }

    #history-slides .content .wrapper {
        grid-gap: var(--spacing-xl);
    }

    /* PAGE:ABOUT - VISION */
    /* VISION CONTENT ==================== */
    #about-vision-content .illustration.var-4 {
        bottom: 0;
        right: var(--spacing-9xl);
    }

    #about-vision-content .illustration.var-1 {
        bottom: 0;
        right: var(--spacing-5xl);
    }

    #about-vision-content .illustration.var-2 {
        bottom: 0;
        right: var(--spacing-sm);
    }

    /* PAGE:ABOUT - TEAM */
    /* TEAM HERO ==================== */
    #team-hero .tab-list {
        flex-direction: column;
    }

    #team-hero .marquee-item {
        width: 66.6666666667vw;
    }

    #team-hero .marquee-item:last-child {
        margin-right: 100vw;
    }

    /* PAGE:ABOUT - SHOWCASE */
    /* ABOUT SHOWCASE HERO ==================== */
    #showcase-hero .marquee-item[data-index="2"] .object-contain {
        top: 4%;
    }

    #showcase-hero .marquee-item[data-index="3"] .object-contain {
        top: -4.5%;
    }

    #showcase-hero .marquee-item[data-index="4"] .object-contain {
        top: 42%;
    }

    #showcase-hero .marquee-item[data-index="6"] .object-contain {
        top: 22.5%;
    }

    /* PAGE:ABOUT - SUPPORT */
    /* SUPPORT CONTENT ==================== */
    #support-content .container > *:not(:last-child) {
        margin-bottom: var(--spacing-lg);
    }

    /* PAGE:PAGE */
    /* PAGE CONTENT ==================== */
    #page-content .tab-container .tab-contents {
        width: 100%;
    }

    #page-content .illustration.var-4 {
        bottom: var(--spacing-xl);
        left: var(--spacing-lg);
    }

    #page-content .illustration.var-1 {
        bottom: 0;
        left: var(--spacing-5xl);
    }

    #page-content .illustration.var-6 {
        bottom: 0;
        left: var(--spacing-8xl);
    }

    /* PAGE:ACTIVITY SINGLE */
    /* MAIN CONTENT ==================== */
    #activity-single-content .sc-inner {
        padding-top: 0;
    }

    #activity-single-content .main-content-wrapper {
        position: relative;
        display: block;
        padding-top: var(--gap-section);
    }

    #activity-single-content .sticky-buttons {
        height: var(--gap-section);
        top: auto !important;
        bottom: 0;
        margin-bottom: 0 !important;
        width: 100vw;
        margin-left: calc(-1 * var(--page-padding));
        z-index: 1;
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            var(--color-offwhite) 100%
        );
        display: flex;
        align-items: center;
    }

    #activity-single-content .sticky-buttons > ul {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #activity-single-content .sticky-buttons .button {
        width: auto;
    }

    #activity-single-content .share,
    #activity-single-content .sticky-buttons {
        margin-bottom: var(--spacing-sm);
    }

    #featured-activity .illustration.var-1 {
        top: var(--spacing-6xl);
        right: var(--spacing-2md);
        z-index: 2;
    }

    #featured-activity .illustration.var-5 {
        top: var(--spacing-6xl);
        right: calc(-1 * var(--spacing-md));
    }

    /* PAGE:NEWS SINGLE */
    /* FEATURED NEWS ==================== */
    #featured-news .illustration.var-5 {
        top: var(--spacing-5xl);
        right: var(--spacing-lg);
    }

    #featured-news .illustration.var-4 {
        top: var(--spacing-5xl);
        right: var(--spacing-5xs);
    }
}

@media (max-width: 767px) {
    .show-sm {
        display: none !important;
    }
}

@media (max-width: 575px) {
    .show-xs {
        display: none !important;
    }
}

@media (max-width: 390px) {
    .show-2xs {
        display: none !important;
    }
}
